/*-----------------------------------------------------------------------------------*/
/*	   	body , basics
/*-----------------------------------------------------------------------------------*/

/**** nav bar ***/
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {color:#000 ;background-color: rgb(231, 231, 231);}

/*#frontpage_facebook {width: 350px;}*/
#frontpage_facebook {}
.tbox {width : auto;}
.admin_label{float: left;}
.row-fluid [class*="span"]:first-child {margin-left: 1%;}
.border-bottom {border-color: #D8D8D8 !important;border-image: none;border-radius: 0 0 0 0;border-style: dotted;border-width: 0 0 1px 0 ;}

.nav-list>li>a:active{background-color:#000;color:#1963aa}
/*** Iphone Style ***/
