/*
	======================================================================
		MAIN PAGE
		NAJA7HOST
		BLUE STYLE
	======================================================================
*/
/*
@font-face {
    font-family: "Helvetica Neue";
        src: url("../fonts/HelveticaNeueW23-Reg/HelveticaNeueW23-Reg.eot") ;
		src: url("../fonts/HelveticaNeueW23-Reg/HelveticaNeueW23-Reg.eot?#iefix") format("embedded-opentype"),
             url("../fonts/HelveticaNeueW23-Reg/HelveticaNeueW23-Reg.ttf") format("truetype");	
}
* { 
	font-family: 'Helvetica Neue', Arial ,Tahoma, sans-serif;
}
*/

@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DroidKufi-Regular.eot');
  src: url('../fonts/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidKufi-Regular.woff') format('woff'), url('../fonts/DroidKufi-Regular.woff2') format('woff2'), url('../fonts/DroidKufi-Regular.ttf') format('truetype'), url('../fonts/DroidKufi-Regular.svg#Droid Arabic Kufi') format('svg');
}

@font-face {
  font-family: 'Droid Arabic Kufi Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/DroidKufi-Bold.eot');
  src: url('../fonts/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DroidKufi-Bold.woff') format('woff'), url('../fonts/DroidKufi-Bold.woff2') format('woff2'), url('../fonts/DroidKufi-Bold.ttf') format('truetype'), url('../fonts/DroidKufi-Bold.svg#Droid Arabic Kufi') format('svg');
}
* { 
	font-family: 'Droid Arabic Kufi', Arial ,Tahoma, sans-serif;
	/*font-size: 14px;*/	
}
body {
  font-family : 'Droid Arabic Kufi',  "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}