/*
	======================================================================
		MAIN PAGE
		NAJA7HOST
		BLUE STYLE
	======================================================================
*/

* { 
	font-family: Arial ,Tahoma, sans-serif;
	/*font-size: 14px;*/	
}
body {
  font-family : Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
}